.front-container {
  margin: 80px auto;
}

.message--container{
  padding-top: 8rem;
}

.front-container1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-top {
  background-color: #ededed;
  min-height: 50px;
}

.profile-image {
  border: 1px solid #333;
  height: 30px;
  width: 30px;
  margin-right: 0.5rem;
  justify-self: center;
}
.chat-top h3 {
  padding-bottom: 0.4rem;
}
.contacts {
  background-color: #ffffff;
  min-height: 600px;
}
.msg {
  display: inline;
}
.message-float-left {
  float: left;
}
.message-float-right {
  float: right;
}

.contact-table-scroll {
  overflow-y: scroll;
  min-height: 600px;
}

.message-area {
  background-color: #e4e1de;
  min-height: 600px;
}

.message-table-scroll {
  overflow-y: scroll;
  min-height: 550px;
  padding: 0 1rem;
}

.message-box {
  background-color: #999;
  width: 100%;
}

.product-top img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
}

.product-top img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.sender-mobile {
  opacity: 0;
}
.sender-web {
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
}
@media (max-width: 700px) {
  .sender-web {
    font-size: 0rem !important;
    margin: 0rem 0rem 0rem;
    padding: 0rem;
    opacity: 0;
  }
  .sender-mobile {
    opacity: 1;
  }
  .message-area,
  .contacts,
  .contact-table-scroll {
    min-height: 10px;
  }
}
