/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  /* position: absolute; */
  top: 0;
  /* right: 0; */
}
.carousel-caption h2 {
  color: #fff;
}

.home-carousel img {
  display: block;
  height: 350px;
  min-width: 40%;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.listing-carousel img {
  display: block;
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  /* width: 100%; */
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
@media (max-width: 700px) {
  .home-carousel img {
    display: block;
    height: 400px;
    width: 100%;
  }
  .details-box,
  .details-box-right {
    margin-top: 15px;
    border-top: 2px #132c20 solid;
    border-bottom: 2px #132c20 solid;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  }
  .details-box-right {
    margin-bottom: 15px;
  }
}
.details-box,
.home-carousel,
.listing-carousel {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.title-box {
  background: #18a558;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}
.title-box h2 {
  color: #fff;
  font-size: 24px;
}
.title-box::after {
  content: "";
  border-top: 40px solid #18a558;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  color: #fff;
  margin-left: 170px;
}

/*-------------.cardd CSS----------------*/

.listings {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 600px) {
  .listings {
    grid-template-columns: repeat(3, 1fr);
  }
  .home-carousel img {
    border-radius: 50%;

    padding: 30px;
  }
}
@media (min-width: 900px) {
  .listings {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-container {
  position: relative;
}

.cardd {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardd:hover {
  box-shadow: 0 0 2px 1px rgba(2, 2, 8, 0.5);
}

.cardd img {
  width: 100%;
  object-fit: cover;
}

.card-container .overlay {
  /* display: none; */
  position: absolute;
  top: 0;
  /* margin-left: ; */
  height: 50px;
  transition: 0.2s ease;
  margin-left: 5%;
  width: 50px;
  opacity: 0;
}

.overlay .fa {
  position: absolute;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  /* margin-left: 40px; */
  border: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

.overlay .edit-btn .fa {
  margin-top: 50px;
  margin-left: 4px;
  /* margin-bottom: 10%; */
}
.overlay .edit-btn,
.delete-btn,
.bookmark-btn {
  border: none;
}

.card-container:hover .overlay {
  opacity: 1;

  transition: 0.5s;
}
.load-more {
  /* background-color: #132c22; */
  -webkit-box-shadow: 3px 3px 10px 3px #67a879;
  -moz-box-shadow: 3px 3px 10px 3px #5d8a69;
  box-shadow: 3px 3px 10px 3px #f59973;
}

/* gotop filter and search */

#gotop {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
}

#select-filter{
  margin-top:2rem;
  margin-top: 1rem;
  border: 1px solid #ced4da;
  outline:0;
  border-radius: 0.5rem;
  transition:border .15s,box-shadow .15s;
}

#select-filter:focus{
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 5px #67a879;
}

.clear-btn{
  border-radius :5px;
  box-sizing:border-box;
  padding:1rem;
  width:100%;

  background:#0d6efd;
  border:0;
  border-radius:30px;
  color:#fff;
  cursor:pointer;
  outline:0;
}

.clear-btn:hover{
  background:#0759d3;
}