.nav-container {
  max-width: 1140px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  opacity: 0.9;
  padding: 0 0.5rem;
}

@media (max-width: 600px) {
  /* .NavContainer {
    margin-top: 6px;
    padding: 0 1rem;
  } */

  /* .profile-image {
    margin-left: 10px;
  } */
}

.nav--bar {
  position: fixed;
  min-height: 50px;
  width: 100%;
  z-index: 900;
  overflow: hidden;
}

.nav__brand h3 {
  margin-bottom: 0;
}

.nav__brand {
  margin: 0.7rem 0 0.2rem 0;
}

.nav__list {
  /* width: 100%; */
  margin: 0;
}

.nav__item {
  padding: 0.5rem 1.5rem;
  color: #707070;
  font-size: 1.7rem;
  align-self: center;
  /* border-bottom: 1px solid #222; */
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  /* color: #d2d0db; */
  color: #707070;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #333;
}

.btn--nav {
  margin: 0;
  padding: 0.7rem 1.4rem;
  text-transform: none;
}

.btn--nav a {
  color: #fff;
}

.nav__list {
  width: auto;
  display: flex;
  font-size: 1.6rem;
  max-height: 100%;
  opacity: 1;
}

.nav__item {
  border: 0;
}

@media screen and (max-width: 768px) {
  .btn--hide {
    display: none;
  }
}

.home-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.cap {
  text-transform: capitalize;
  padding: 0.5rem 1.5rem;
}

.activeIt {
  background-color: #fff;
  top: 0;
}

.cross {
  color: #132c20;
  margin: 0 0 2rem 2rem;
}

.nav-menu {
  z-index: 1000;
  background-color: #fff;
  width: 250px;
  height: 100vh;
  border-right: 2px solid #132c20;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-text a {
  text-decoration: none;
  color: #333;
  font-size: 19px;
  font-weight: 300;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 4px;
}

.nav-text a:hover {
  color: #132c20;
  background-color: #c6f6d5cc;
  text-decoration: none;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #fff;

  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-picture-upload {
  margin-bottom: 3rem;
  padding-left: 2rem;
}

li .navbar-menu-items::marker {
  opacity: 0;
  display: none;
  text-decoration: none;
  color: #fff;
}

li .navbar-menu-items {
  text-decoration: none;
}

.NavSpan {
  margin-left: 16px;
}

.side-menu-list {
  padding: 0;
  padding-left: 0.5rem;
}
